@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

.section1 {
background-image:url("asset/bg-image-hero.png"); /* image de fond */ height:70vh;/*indique une hauteur de 70% de la hauteur*/ 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.textwhite{
    color: white;
}

.section2{
    background-image: url("asset/bg-image-2.png");
}

.supprimer-puce{
    list-style-type:none;
}

a{
    text-decoration: none;/*retirer le surlignement*/
    color: black;
}

.large33{
    width: 33%;
}

h1{
    font-family: 'Rubik',sans-serif;
}

